name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Compile
      run: make

    - name: Upload startup resume
      uses: actions/upload-artifact@v5
      with:
        name: resume-startup
        path: resume-2025/resume-startup.pdf
    
    - name: Upload data engineering resume
      uses: actions/upload-artifact@v5
      with:
        name: resume-data-engineering
        path: resume-2025/resume-data-engineering.pdf
